{% extends "base.html" %}
{% block content %}
<section id="notificationFrame" class="d-flex p-3 align-items-center flex-column h-30 ">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-center datetime">
            <p>Tuesday: 10/25/2005</p>
        </div>
        <div class="d-flex flex-row justify-content-center datetime">
            <div id="hours" class="">1</div>
            <div>:</div>
            <div id="minutes" class="">50</div>
            <div id="meridiem" class="">PM</div>
        </div>
        <div class="datetime">
            <p>Happy Calander Event?</p>
        </div>
    </div>
</section>

<section id="appFrame" class="w-100 flex-grow-1">
    <div class="basic-grid">
        <div class="grid-card"><a class="grid-button" href="/maps"><img src="/static/img/maps.png"/></a></div>
        <div class="grid-card"><a class="grid-button" href="/music"><img class="grid-image" src="/static/img/music.jpg"></a></div>
        <div class="grid-card"><a class="grid-button" href="/settings"><img src="/static/img/setting.png"/></a></div>
        <div class="grid-card"><a class="grid-button" href="/calendar"><img src="/static/img/cal.png"/></a></div>
        <div class="grid-card"><a class="grid-button" href="/youtube"><img src="/static/img/youtube.png"/></a></div>
        <div class="grid-card"><a class="grid-button" href="/OBD"><img src="/static/img/obd.jpg"/></a></div>
    </div>
</section>
{% endblock %}
         

        