{% extends "base.html" %}
{% block content %}
	<div class="container-fluid">
        <div class="row h-100">
            <div class="col-2">
                <div class="control-box h-25 w-100">
                    <button class="cardButton my-2" onclick="go_home()">Exit</button>
                    <button class="cardButton my-2" >Manual</button>
                </div>
            </div>
            <div class="col-10">
            <!-- Main content -->
            <section id="trayButtons">
                <div class="service-field py-4">
                    <div class="service-field-card my-2">
                        <div class="header-field">
                           <h2>Alerts</h2>
                            <p>Here is where you will see all alerts that must be handled</p>
                        </div>
                        <div id="alert-grp" class="container">
                        {% if alerts %}
                            <div id="water_lvl" class="row red">
                                <div class="col-3">
                                    <p>EC Level  Below: </p>
                                </div>
                                <div id="water_lvl_out" class="col-6">
                                    15%
                                </div>
                                <div class="col-3">
                                    <button class="button2">Update</button>
                                </div>
                            </div>
                        {% else %}
                            <div class="row green">
                                <div class="col-3">
                                    <p>All clear</p>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="service-field-card my-2 white">
                        <div class="header-field">
                           <h2>Diagnostics</h2>
                            <button class="button2" onclick="run_test()">Run Test</button>
                        </div>
                        <div id="diag-grp" class="container">

                        </div>
                    </div>
                    <div class="service-field-card my-2 white">
                        <div class="header-field">
                           <h2>Settings</h2>
                            <p>Add new microgreen profile</p>
                        </div>
                            <div id="service-grp" class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <p>Red Light Intensity</p>
                                    </div>
                                    <div class="col-6">
                                    <input id="xSettingInput" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <p>Blue Light Intensity</p>
                                    </div>
                                    <div class="col-6">
                                    <input type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <p>Run time (seconds)</p>
                                    </div>
                                    <div class="col-6">
                                    <input  type="text">
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-3">
                                        <button  class="button2" >Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        //poll_endpoint()
    })

    document.getElementById("xSetting").addEventListener("click", function(){
        let xhttp = new XMLHttpRequest();
        let data = new FormData();
        data.append("x", "y");
        xhttp.open("POST", "/service/setting_update", true);
        xhttp.send(data);
    })

    function run_test() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let text = xhttp.responseText
                try {
                    let response = JSON.parse(xhttp.responseText)
                    diag = document.getElementById("diag-grp")
                    diag.innerHTML = ""
                    for(item in response){
                        let wrapper = document.createElement("div")
                        wrapper.className = "row red"
                        if(response.hasOwnProperty(item)){
                            let content = document.createTextNode(item + ": " + response[item])
                            wrapper.appendChild(content)
                            diag.appendChild(wrapper)
                        }
                    }
                } catch (e) {
                    var newDoc = document.open("text/html", "replace")
                    newDoc.write(text)
                    newDoc.close()
                }
            }
        };
        xhttp.open("POST", "/service/diag", true);
        xhttp.send();
    }

    function poll_endpoint() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let text = xhttp.responseText
                try {
                    let response = JSON.parse(xhttp.responseText)
                    if(response["water_level"] < 30){
                        document.getElementById("water_lvl").className = "row red"
                        txt = document.getElementById("water_lvl_out")
                        txt.innerHTML=""
                        txt.appendChild(document.createTextNode(response["water_level"] + " %"))
                    }
                    else{
                        document.getElementById("water_lvl").className = "row yellow"
                        txt = document.getElementById("water_lvl_out")
                        txt.innerHTML=""
                        txt.innerText = response["water_level"] + " %"
                    }
                }
                catch (e) {
                    var newDoc = document.open("text/html", "replace")
                    newDoc.write(text)
                    newDoc.close()
                }
            }
        };
        xhttp.open("POST", "/service/poll", true);
        xhttp.send();
        //poll_handle = setTimeout(function () {
           //poll_endpoint()
        //}, 4000);
    }
</script>
{% endblock %}


         
