{% extends "base.html" %}
{% block content %}
    <div class="wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <h1>Tray {{trayId}} Controls</h1>
                <div class="d-flex justify-content-center">
                    <button class="button refreshingBlue back-button" onclick="goBackTray()">Back</button>
                </div>
            </div>
        </div>
        {% if exists != None %}
        <div class="container-fluid">
            <div id="trayControls">
                <div id="trayDone">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                             <div class="container">
                                <div class="fullCard noBlend">
                                    <div class="inCard">
                                        <h6>Tray {{trayId}}</h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:100%">100%</div>
                                        </div>
                                            <p>Tray {{trayId}} done! 🌿</p>
                                        <button class="cardButton white" onclick="harvestButton()">Harvest</button>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

                <div id="harvestDiv" style="display:none">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                             <div class="container">
                                <div class="fullCard noBlend">
                                    <div class="inCard">
                                        <p>Harvesting: </p>
                                        <p><i>Remove Tray</i></p>
                                            <button class="cardButton" onclick="insertTray()">Continue</button>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

                <div id="insertTray" style="display: none">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                             <div class="container">
                                <div class="fullCard noBlend">
                                    <div class="inCard">
                                        <p>Harvesting: </p>
                                        <p><i>Insert Tray</i></p>
                                            <button class="cardButton" onclick="options()">Continue</button>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

                <div id="options" style="display: none">
                    <div id="waterCheck" style="display: none">
                       {% if status.water_level == 0%}
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                     <div class="container">
                                        <div class="fullCard noBlend">
                                            <div class="inCard">
                                                <p>Water level: Below 15%.</p>
                                                <p><b>Perform Maintenance</b></p>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="phCheck" style="display: none">
                        {% if status.ph_pump < 15%}
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                     <div class="container">
                                        <div class="fullCard noBlend">
                                            <div class="inCard">
                                                <p>PH tank level low.</p>
                                                <p><b>Perform Maintenance</b></p>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="ecCheck" style="display: none">
                        {% if status.ec_pump < 15%}
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                     <div class="container">
                                        <div class="fullCard noBlend">
                                            <div class="inCard">
                                                <p>Nutrient tank level low.</p>
                                                <p><b>Perform Maintenance</b></p>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                             <div class="container">
                                <div class="fullCard noBlend">
                                    <div class="inCard">
                                        <p>Select Microgreen Type</p>
                                        <form action="/trayinfo/{{trayId}}/trayControl/newGrow" method="POST">
                                          <label for="microgreen">Choose a microgreen:</label>
                                            <select name="microgreen" id="microgreen">
                                                <option value="broccoli">Broccoli</option>
                                                <option value="beets">Beets</option>
                                            </select>
                                          <br><br>
                                          <input type="submit" style="align-content: center" value="Start Growing" onclick="confirm()">
                                        </form>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                 </div>
            </div>
            {% else %}
                <div id="options">
                    <div id="waterCheck" style="display: none">
                       {% if status.water_level == 0%}
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                     <div class="container">
                                        <div class="fullCard noBlend">
                                            <div class="inCard">
                                                <p>Water level: Below 15%.</p>
                                                <p><b>Perform Maintenance</b></p>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="phCheck">
                        {% if status.ph_pump < 15%}
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                     <div class="container">
                                        <div class="fullCard noBlend">
                                            <div class="inCard">
                                                <p>PH tank level low.</p>
                                                <p><b>Perform Maintenance</b></p>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="ecCheck">
                        {% if status.ec_pump < 15%}
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                     <div class="container">
                                        <div class="fullCard noBlend">
                                            <div class="inCard">
                                                <p>Nutrient tank level low.</p>
                                                <p><b>Perform Maintenance</b></p>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                             <div class="container">
                                <div class="fullCard noBlend">
                                    <div class="inCard">
                                        <p>Select Microgreen Type</p>
                                        <form action="/trayinfo/{{trayId}}/trayControl/newGrow" method="POST">
                                          <label for="microgreen">Choose a microgreen:</label>
                                            <select name="microgreen" id="microgreen">
                                                <option value="broccoli">Broccoli</option>
                                                <option value="beets">Beets</option>
                                            </select>
                                          <br><br>
                                          <input type="submit" style="align-content: center" value="Start Growing" onclick="confirm()">
                                        </form>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                 </div>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
{% block script %}
<script src="/static/js/trayControl.js"></script>
{% endblock %}
