.button {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: blue;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

body {
  background-color: #e6e7e8;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
}

.red{
  background-color: red;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.blue{
  background-color: blue;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  width: 60%;
  text-align: center;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.back-button {
    line-height: 40px;
    width: 100px;
    font-size: 10pt;
    text-align: center;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 10px;
    right: 10px;

}

.center-block {
  display: block;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.green {
    background-color: #008000;
}

.chart-container{
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.content-header {
  padding: 15px 0.5rem;
}

.wrapper {
     width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.fullCard {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
  align-content: center;
  text-align: center;
}

.fullCard > .inCard {
  padding: 10px;
  align-content: center;
}

.cardButton {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #8D827C;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.serviceButton {
  border: none;
  border-radius: 0.25rem;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #BA5B36;
  text-align: center;
  cursor: pointer;
  width: 95%;
  font-size: 12px;
  text-align: center;
}

.cardButton:hover {
  opacity: 0.7;
}

.table {
  border-collapse: collapse;
  border-radius: 0.25rem;
  width: 100%;
  align-content : center;}

  td, th {
  border: 1px solid black;
  border-radius: 0.25rem;
  text-align: center;
  padding: 8px;
  }

.tan {
    background-color: #8D827C;
    opacity: 0.8;

}
.progress-green{
    color: #9EB362;
}
.yellow {
background-color: #FFFF00;
opacity: 0.8
}

.orange {
    background-color: #BA5B36;
    opacity: 0.8;
}

tr:nth-child(even) {
  background-color: #94A896;
}

.h6 {
    text-align: center;
    color: white;
}

.service-field{
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-field-card{
    border-radius: 2px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    background-color: #e3e1dc;
  min-height: 33%;
  overflow: hidden;
  width: 100%;
  padding: 3px
}

.control-box{
    border-radius: 2px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    background-color: #e3e1dc;
    position: absolute;
    top: 15%;
    left: 7.5px;
}

.header-field{
  margin: 7.5px;
}
.service-field{

}

.refreshingBlue {
    background-color: #787886;
}

.dropdown {
    display:inline-block;
    padding:10px;
  }

.notifButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
}

.notBlindingYellow {
    background-color: #E9C46A;
}

.noBlend {
    background-color: #CDC8C6;
}